.cards__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 85px;
  padding: 0;
  list-style-type: none;
}

.cards__text {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  margin: 40px 0 34px;
}
